html, body {
  height: 100%;
}

body {
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: #5a5a5a;
  --fuse-bg-default-rgb: 241,245,249;
  --tw-bg-opacity: 1;
  background: rgba(var(--fuse-bg-default-rgb),var(--tw-bg-opacity)) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.invalid-feedback {
  display: block !important;
}

.custom-button {
  border-radius: 9999px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  padding: .675rem .75rem !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(203 213 225 / var(--tw-border-opacity))!important;
  width: 20% !important;
  background-color: #f8fafc !important;
  color: #1e293b !important;
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f !important;
}
